<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>html test</title>
</head>
<body>
<h1 th:id="welcome"> Welcome to study</h1>
<hr />
<p><u><b><i> My name is Sergey<sup>2</sup></i></b></u></p>
<p><th:abbr title ="Пpoфeccop">Пp. </th:abbr></p>
<details>
    <summary>Nasa</summary>
    <p>Нацио нальное агентство по аэронавтике и исследованию космического пространства</p>
</details>
<p>Это <cite title="https://habr.com/ru/articles/350862/">учебник </cite>по thymleaf</p>
<br />
<p>Это была <del> худшая </del>  <ins>лyчшaя</ins> из ее идей</p>

<ol>
    <li>Купить трусы</li>
    <li>Купить штаны</li>
    <li>Купить носки</li>
</ol>

<ul>
    <li>Купить дом</li>
    <li>Купить дачу</li>
    <li>Купить машину</li>
    <ul>
        <li>Car by design</li>
    </ul>
</ul>
    <dl>
        <dt>Корова</dt>
        <dd>Парнокопытное животное!</dd>
    </dl>

<ul>
    <li><a th:href="@{https://www.kinopoisk.ru}"><b>КИНОПОИСК</b></a></li>
</ul>
<a th:href="@{/simple}">simple page</a>

<a th:href="@{mailto:sergey@yandex.ru}">Send me email</a>
<a th:href="@{http://www.imdb.com}" th:target="_blank">Open in new window</a>
<br />
<br />

<h1 id="top">Термины, используемые при съемке фильмов </h1>
<br />

<a href="#zoom">Трансфокация</a>
<br />
<a th:href="#{interlude}">Интepлюдия </a>
    <br />
<a href="#prologue">Пpoлoг </a>


<ul>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
</ul>

<br />
<h2  id="zoom">Трансфокация</h2>
    <p> Плавный наезд на объект съемки или отъезд от него камерой.</p>
        <h2 id="interlude">Интepлюдия</h2>
            <p> Короткая вводная сцена или последова тель ность
            сцен, появляющаяся в фильме, но не обязательно с в язанная с основным сюжетом .</p>
            <h2 id="prologue">Пpoлoг</h2 >
                <p> Речь, введение или короткая сцена, основ ному действию сюжета фильма ;
                эпилогу.</p>
                <p><a th:href="#{top}">Haвepx</a></p>
                <p><a th:href="#{welcome}">Up</a></p>
</body>
</html>